header{
    background-color: rgb(209, 118, 148);
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 17%;
    margin-left: -7%;
    margin-right: -0.5%;
    margin-top: -0.3%;
    color: aliceblue;
    font-style: oblique;
    border-style:dotted;
    border-color: black;
    
    
}
.Des_one{
    background-image: url("https://image.shutterstock.com/image-illustration/pink-marble-rose-gold-background-260nw-2008789790.jpg");
    background-color: rgb(255, 255, 255);
    background-size: 700px 500px;
    padding-top: 0%;
    padding-bottom: 0%;
    color: rgb(114, 49, 72);
    padding-left: 50%;
    margin-left: -18.9%;
    margin-right: 0%;
    border-style: solid;
    border-color: aliceblue;
    font-size: 35px;
}
body{
    background-color: rgb(245, 243, 243);
    padding-left: 50px;
    font-size: 20px;   
}
.box{
    background-color: rgb(224, 181, 195);
}
.text{
    padding-left: 60px;
    padding-right: 60px;
    font-size: 22px;
}
.registerbtn{
    background-color: rgb(223, 83, 113);
    font-size: 30px;
    font-style: oblique;
    opacity: 80%;
}
.container_signin{
    padding-left: 550px;
}