


header{
    background-color: rgb(37, 50, 75);
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 17%;
    margin-left: -7%;
    margin-right: -0.5%;
    margin-top: -1%;
    color: aliceblue;
    font-style: oblique;
    
    
}

.top{
    background-image: url("https://media.istockphoto.com/photos/drapery-fabric-with-stripes-3d-illustration-3d-rendering-picture-id1280270032?b=1&k=20&m=1280270032&s=170667a&w=0&h=KKhtW8e-jWbA06FRD9P269_J9JfgscXPAUTwYhM1yDo=");
    background-color: white;
    background-size: 700px 500px;
    padding-top: 2%;
    padding-left: 1%;
    margin-right: -0.5%;
    border-style: solid;
}
h1{
    margin-left: 850px;
    color: aliceblue;
    font-style: normal;
    font-size: 70px;
}
h2{
    margin-left: 30%;
    padding-bottom: 5%;
    font-style: oblique;
    font-size: 45px;
    color: aliceblue;
    
}

.column{
    float: left;
    width: 30%;
    height: 400px;
    padding: 1.20%;
    margin-top: 10px;
    border-style: inset;
    background-image: url("https://img.freepik.com/free-photo/blue-gradient-background-business-banner-wallpaper-background_550033-73.jpg");
    background-size: 700px 500px;
    color: rgb(255, 255, 255);
    opacity: 85%;
    
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.body{
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: rgb(255, 255, 255);
    margin-left: 15%;
    margin-top: 0%;
}
.column_two{
    float: left;
    width: 100%;
    height: 28%;
    padding: 1.20%;
    border-style: inset;
    background-image: url("https://img.freepik.com/free-photo/blue-gradient-background-business-banner-wallpaper-background_550033-73.jpg");
    background-size: 700px 500px;
    color: rgb(255, 255, 255);
    opacity: 85%;
    margin-left: -3%;
}
main{
    background-color: rgb(99, 99, 99);
    background-image: url("https://img.freepik.com/free-vector/dark-grey-abstract-hexagon-pattern-background_67845-256.jpg?size=626&ext=jpg");
    margin-left: -1%;

    
}
footer{
    background-color: rgb(37, 50, 75);
    margin: -1%;
    padding-top: 1%;
    padding-left: 20%;
    padding-bottom: 1%;
    border-style: solid;
    border-color: black;
    color: rgb(255, 255, 255);

}
h3{
    font-style: oblique;
    color: rgb(1, 3, 146);
}
h5{
    color: rgb(177, 210, 252);
}